<h1>Bonjour {{ user.firstname }} !</h1>
<p>Vous avez oublié votre mot de passe ?</p>
<p>Rien de grave, il vous suffit d'entrer la clé à 6 chiffres ci dessous qui vous ai demandée sur le blog.</p>
<p style="font-weight: bold;color: darkred">{{ token }}</p>