<h1>Bonjour {{ user.firstname }} !</h1>
<p>Bienvenue dans la famille d'AxelVllR Blog.</p>
<p>Nous te confirmons ton inscription au prêt de nous, tu peux dès maintenant rédiger des commentaires sur le site, <br>
    néanmoins.. Nous vérifierons ceux-ci avant de les publier.</p>
<p>L'équipe AxelVllR Blog.</p>